---
import Layout from "../layouts/Layout.astro"
import Video from "../components/Video.astro"
import Intro from "../components/Intro.astro"
import Bento from "../components/Bento.astro"
import Prefooter from "../components/Prefooter.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Premios ESLAN 2024 - celebrando lo mejor de los streaming"
        description="Descubre lo mejor de los talentos del mundo hispano">
    <Video />

    <main>
        <Intro />
        <Bento />
        <Prefooter />
    </main>
    <Footer />
</Layout>

<style>

</style>