<div class="w-full relative">
    <img
        class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto"
        src="/logo-home.svg"
        alt="Esland - premios a la ciudad hispanohablante de Streaming"
    />
    <video 
        src="/video.mp4" 
        autoplay 
        loop 
        muted 
        class="w-full h-screen object-cover object-top animate-fade animate-ease-in-out animate-duration-1000"
        style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);"></video>
    <video 
        src="/video.mp4" 
        autoplay 
        loop 
        muted 
        class="absolute -bottom-48 blur-3xl -z-40"
        >
    </video>

</div>